<section class="row">
  <article class="col s12 m6"> <!-- 'col s12 m6' define o layout responsivo -->
    <h5>Lista de Alunos Matriculados</h5>

    <ul class="collection">
      @for (aluno of alunos; track $index) {
        <li class="collection-item" [routerLink]="[aluno.id]">
          #{{ aluno.id }} - {{ aluno.nome }}
        </li>
      } @empty {
        <li>Nenhum curso encontrado.</li>
      }
    </ul>
  </article>

  <article class="col s12 m6"> <!-- 'col s12 m6' para a segunda coluna -->
    <router-outlet></router-outlet>
  </article>
</section>
